version: 2.1

jobs:
  build:
    machine:
      docker_layer_caching: true
    working_directory: ~/codeclimate/codeclimate-sonar-java
    steps:
      - checkout
      - run:
          name: Build
          command: make image
      - run:
          name: Test
          command: make test
